- content_for :map do
  - controls = '{scrollwheel: false,zoomControl:true, zoomControlOptions: {position: google.maps.ControlPosition.RIGHT_TOP}, panControlOptions: {position: google.maps.ControlPosition.RIGHT_TOP}}'
  - json = {map_options: {center_latitude: -23.5489433, center_longitude: -46.6388182, detect_location: true, center_on_user: true, zoom: 10, raw: controls}}
  .sized_map
    = gmaps json

- content_for :search do
  .row
    .span12.search
      %h3.center
        Encontre a melhor escola para o seu filhos no caminho de casa para o Trabalho.
      %p.center.subline
        disponível em todo território brasileiro
      %p
      .row.titles
        .span1
        .span4
          Origem (Sua casa)
        .span4
          Destino (Seu Trabalho)
        .span1
    
      = form_tag("/rotas/criar") do
        .row
          .span1
          .span4
            = text_field_tag(:origin_location, @origin, :placeholder => "ex: São Paulo")
          .span4
            = text_field_tag(:destination_location, @destination, :placeholder => "ex: Caraguatatuba")
          / .span4
          /   = text_field_tag(:detour, @default_detour, :placeholder => "1")
          .span1
            = submit_tag "Encontrar Escolas", class: "btn btn-primary"
        - if not @erros.nil? and not @errors.empty?
          .row
            .span1
            .span4.red
              - if @errors[0]
                Não foi possível encontrar esse endereço.
            .span4.red
              - if @errors[1]
                Não foi possível encontrar esse endereço.          
            .span1

- content_for :arguments do
  .span4
    .row
      .span1
        = image_tag "mapa.png"
      .span3
        %h4.blue
          Defina sua Rotina. Nós achamos as Escolas. 
        %p
          Usando as informações do seu caminho do dia dia (ex: De casa ao Trabalho), nosso sistema determina as escolas que estão no seu itinerário ou acessíveis por um pequeno desvio.
    
  .span4
    .row
      .span1
        = image_tag "radar.png"
      .span3
        %h4.blue
          Encontre a melhor escola para o seu filho
        %p
          Nosso sistema usa informações do governo, como resultados do ENEM e do ranking das escolas públicas e privadas no Brasil, para escolher as melhores escolas que estão perto de você.
  
  .span4
    .row
      .span1
        = image_tag "correto.png"
      .span3
        %h4.blue
          Defina os seus critérios. Nós filtramos.
        %p
          Procurando uma escola com linguas? Que fique em um bairro seguro, ou que ofereça natação? Defina os critérios e nosso sistema filtrará aquelas escolas que mais interessam para você e a sua família.
          
- content_for :seo do
  %span
    Encontre a Escola Municipal, Escola Estadual, Escola Pública, Escola Particular para o seu filho com Melhor Escola. Procure entre todas as escolas brasileiras usando avaliação nacional de orgãos do governo (ENEM, INEP, Ministério da Educação). 

-content_for :social do
  %h4
    Fique Ligado
  %p
    Acompanhe as nossas atualizações através do twitter. Saiba dicas de como encontrar a melhor escola para os seus filhos.
  %p
    %a{:href => "http://twitter.com/fabsn", :target => "blank"}
      = image_tag("twitter-icon.png")
      %span.siga
        siga-nos

- content_for :partners do
  .row
    .span1
      %h3.data_title
        Dados
    .span11    
      .logos
        =image_tag "logo_dados.png"
        =image_tag "logo_enem.png"
        =image_tag "logo_inep.png"
        =image_tag "logo_ideb.png"
        =image_tag "logo_ministerio.png"                        

- content_for :footer do
  %span
    Um monte de logotipos