- content_for :map do
  - controls = '{scrollwheel: false,zoomControl:true, zoomControlOptions: {position: google.maps.ControlPosition.RIGHT_TOP}, panControlOptions: {position: google.maps.ControlPosition.RIGHT_TOP}}'
  - json = {map_options: {center_latitude: -23.5489433, center_longitude: -46.6388182, detect_location: true, center_on_user: true, zoom: 10, raw: controls}}
  .sized_map
    = gmaps json

.container.floating_on_map
  .row
    .span12.search
      %h3.center
        Coloque o endereço da onde você mora e da onde você trabalha e descubra agora mesmo as melhores escolas  no caminho até o seu trabalho.
      %p
      .row.titles
        .span1
        .span4.orange
          Sua casa
        .span4.orange
          Seu Trabalho
        .span1
    
      = form_tag("/rotas/criar") do
        .row
          .span1
          .span4
            = text_field_tag(:origin_location, @origin, :placeholder => "ex: São Paulo")
          .span4
            = text_field_tag(:destination_location, @destination, :placeholder => "ex: Caraguatatuba")
          / .span4
          /   = text_field_tag(:detour, @default_detour, :placeholder => "1")
          .span1
            = submit_tag "Ache a escola!", class: "btn btn-primary"
        - if not @errors.nil? and not @errors.empty?
          .row
            .span1
            .span4.red
              - if @errors[0]
                Não foi possível encontrar esse endereço.
            .span4.red
              - if @errors[1]
                Não foi possível encontrar esse endereço.          
            .span1

- content_for :arguments do
  .span4
    .row
      .span1
        = image_tag "mapa.png"
      .span3
        %h4.blue
          1. Encontre as escolas entre sua casa e o seu trabalho
  
        %p
          Trace a rota da sua casa para o seu trabalho e encontre as melhores escolas públicas no seu caminho. 
    
  .span4
    .row
      .span1
        = image_tag "radar.png"
      .span3
        %h4.blue
          2. Compare o que cada escola oferece
        %p
          Compare o que realmente importa para você na escola: desempenho, segurança, infraestrutura.
  
  .span4
    .row
      .span1
        = image_tag "correto.png"
      .span3
        %h4.blue
          3. Escolha a escola ideal para o seu filho
        %p
          Ache a melhor escola para o seu filho e veja como matriculá-lo nela.
          
- content_for :seo do
  %span
    Encontre a Escola Municipal, Escola Estadual, Escola Pública, Escola Particular para o seu filho com Melhor Escola. Procure entre todas as escolas brasileiras usando avaliação nacional de orgãos do governo (ENEM, INEP, Ministério da Educação). 

-content_for :social do
  %h4
    Fique Ligado
  %p
    Acompanhe as nossas atualizações através do twitter. Saiba dicas de como encontrar a melhor escola para os seus filhos.
  %p
    %a{:href => "http://twitter.com/fabsn", :target => "blank"}
      = image_tag("twitter-icon.png")
      %span.siga
        siga-nos

- content_for :partners do
  .row
    .span1
      %h3.data_title
        Dados
    .span11
      .logos
        =image_tag "logo_dados.png"
        =image_tag "logo_enem.png"
        =image_tag "logo_inep.png"
        =image_tag "logo_ideb.png"
        =image_tag "logo_ministerio.png"

- content_for :footer do
  %span
    Um monte de logotipos