- content_for :map do
  - controls = '{scrollwheel: false,zoomControl:true, zoomControlOptions: {position: google.maps.ControlPosition.RIGHT_TOP}, panControlOptions: {position: google.maps.ControlPosition.RIGHT_TOP}}'
  - json = {map_options: {center_latitude: -23.5489433, center_longitude: -46.6388182, detect_location: true, center_on_user: true, zoom: 10, raw: controls}}
  = gmaps json

- content_for :search do
  .well
    %h3
      Bem vindo
    = form_tag("/rotas/criar") do
      %p
        %ol
          %li
            = label_tag :origin_name, "Digite sua Origem:"
            = text_field_tag(:origin_name, "Osasco", :placeholder => "ex: São Paulo")
          %li
            = label_tag :origin_name, "Digite seu Destino:"
            = text_field_tag(:destination_name, "Caraguatatuba", :placeholder => "ex: Caraguatatuba")  
      %p
        = submit_tag "Procurar", class: "btn btn-primary"
