- content_for :map do
  - controls = '{scrollwheel: false,zoomControl:true, zoomControlOptions: {position: google.maps.ControlPosition.RIGHT_TOP}, panControlOptions: {position: google.maps.ControlPosition.RIGHT_TOP}}'
  - json = {map_options: {zoom: 4, center_latitude: -25.235004, center_longitude: -60.92528, raw: controls}}
  = gmaps json

- content_for :search do
  .well
    %h3
      Bem vindo
    = form_tag("/rotas/criar") do
      %p
        %ol
          %li
            = label_tag :origin_name, "Digite sua Origem:"
            = text_field_tag(:origin_name, nil, :placeholder => "ex: São Paulo")
          %li
            = label_tag :origin_name, "Digite seu Destino:"
            = text_field_tag(:destination_name, nil, :placeholder => "ex: Caraguatatuba")  
      %p
        = submit_tag "Procurar", class: "btn btn-primary"
