- content_for :map do
  - controls = '{scrollwheel: false,zoomControlOptions: {position: google.maps.ControlPosition.RIGHT_TOP}, panControlOptions: {position: google.maps.ControlPosition.RIGHT_TOP}}'
  - options = {auto_adjust: true, auto_zoom: true, raw: controls}
  = gmaps "map_options" => options, "direction" => {"data" => @json }
  
  #detail_area
    %p
      meu div eh divino
    

  
- content_for :scripts do
  = javascript_include_tag "RouteBoxer"
  = javascript_include_tag "filters"
  = javascript_include_tag "routing"
  = javascript_include_tag "sizer"  
  
.container.school_count_notifier
  .span6.resizable
    .alert.alert-escolamaps.hidden_filters
      //= image_tag 
      %span.removable
        Você está vendo 
      %span.highlighted#current_markers
        = "--"
      %span
        de
      %span.highlighted#total_markers
        = "--"
      %span.removable
        escolas 
      %span.removable
        %b
          públicas 
        na sua região
      
  
.container.floating_on_map_left.resizable
  .hidden_area
    #parameter_from{value: @route.origin.name}
    #parameter_to{value: @route.destination.name}  
    #detour{value: @detour}
    
  .row.resizable
    .span4.resizable
      .well.hidden_filters
        %h4
          Selecione o que você acha importante em uma escola.
  .row.resizable
    .span4.resizable
      .well.filters.hidden_filters
        %p
          %h4
            Desempenho das escolas (nesta região)
        .centered
          - School.color_filters.each_with_index do |f,i|
            .filter_area_quality
              = image_tag "#{f}.png"
              = check_box_tag f,"1", checked = true, :class => "filter_control_quality", :filter_type => i
              = School.i18npt[f]
  .row.resizable
    .span4.resizable
      .well.filters.hidden_filters
        %p
          %h4
            Recursos Extras
        - School.filters.each do |f|
          .filter_area
            = image_tag "#{f}.png"
            = check_box_tag f,"1", checked = false, :class => "filter_control", :filter_type => f
            = School.i18npt[f]
            
      #school_data
    