- content_for :map do
  - controls = '{scrollwheel: false,zoomControlOptions: {position: google.maps.ControlPosition.RIGHT_TOP}, panControlOptions: {position: google.maps.ControlPosition.RIGHT_TOP}}'
  - options = {auto_adjust: true, auto_zoom: true, raw: controls}
  = gmaps "map_options" => options, "direction" => {"data" => @json }
  
  
- content_for :scripts do
  = javascript_include_tag "RouteBoxer"
  = javascript_include_tag "filters"
  = javascript_include_tag "routing"
  
.container.floating_on_map_left
  .hidden_area
    #parameter_from{value: @route.origin.name}
    #parameter_to{value: @route.destination.name}  
    #detour{value: @detour}
  .row
    .span4
      .well.filters
        %p
          %h4
            Desempenho das escolas (nesta região)
        - School.color_filters.each_with_index do |f,i|
          .filter_area
            = image_tag "#{f}.png"
            = check_box_tag f,"1", checked = true, :class => "filter_control_quality", :filter_type => i
            = School.i18npt[f]
  .row
    .span4
      .well.filters
        %p
          %h4
            Recursos Extras
        - School.filters.each do |f|
          .filter_area
            = image_tag "#{f}.png"
            = check_box_tag f,"1", checked = false, :class => "filter_control", :filter_type => f
            = School.i18npt[f]
            
      #school_data
    