.container
  .row
    .span8
      .school_info
      %h1 
        = @school.name
      %p
        RANK: 
        = @school.rank
      %p
        Reviews: 
        = @stars
      %h3.school_address
        END:
        = @school.name
      %p
        TIPO:
        = @school.type  
      %p
        COMPETENCES:
        = @school.competence[0]
        = @school.competence[1]
        = @school.competence[2]
        = @school.competence[3]
        = @school.competence[4]
      %p
        ENEM
        = @school.enem
      %p
        PROVABRASIL
        = @school.provabrasil

      %h2 
        Avaliação dos Pais
      %p
        -(0..4).each do |n|
          %p
            =n+1 
            estrela 
            =@num_stars[n]
      %h3
        Avaliações que mais ajudam
      - @reviews.each do |r|
        %p
          =r.stars
          =r.title
        %p
          =r.user_name
        %p
          =r.text

      %h3 Faça sua avaliação
      = form_tag("/avaliacao/criar") do
        %p
          Nome: 
          = text_field_tag(:name, @new_user_name)
        %p
          Estrelas: 
          = text_field_tag(:stars, @new_stars)
        %p
          Titulo: 
          = text_field_tag(:title, @new_title)
        %p
          Texto: 
          = text_area_tag(:text, @new_text)
        %p 
          = hidden_field_tag(:school, @school.id)
        %p
          = submit_tag "Submeter", class: "btn btn-primary"

    .span4
      %h1 Localização