.container
  .row
    .span8
      .school_info
      %h1 
        = @school.name
      %p
        RANK: 
        = @school.rank
      %p
        Reviews: 
        = @stars
      %h3.school_address
        END:
        = @school.name
      %p
        TIPO:
        = @school.type  
      %p
        COMPETENCES:
        = @school.competence[0]
        = @school.competence[1]
        = @school.competence[2]
        = @school.competence[3]
        = @school.competence[4]
      %p
        ENEM
        = @school.enem
      %p
        PROVABRASIL
        = @school.provabrasil

      %h2 
        Avaliação dos Pais
      %p
        -(0..4).each do |i|
          %p
            = i 
            estrela 
            = @partition[i]
      %h3
        Avaliações que mais ajudam
      - @reviews.each do |r|
        %p
          =r.stars
          =r.title
        %p
          =r.user_name
        %p
          =r.text

      %h3 Faça sua avaliação
      - @review = Review.new
      = form_for @review do |f|
        %p
          Nome: 
          = f.text_field(:user_name)
        %p
          Estrelas:         
          - (1..5).each do |level|
            = f.radio_button :stars, level, :class => "star"
        %p
          Titulo: 
          = f.text_field(:title)
        %p
          Texto: 
          = f.text_area(:text)
        %p 
          = f.hidden_field(:school, :value => @school.id)
        %p
          = f.submit "Submeter", class: "btn btn-primary"

    .span4
      %h1 Localização