!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Bsb"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "application", :media => "all"
    = stylesheet_link_tag 'gmaps4rails'    
    %link(href="images/apple-touch-icon-144x144.png" rel="apple-touch-icon-precomposed" sizes="144x144")
    %link(href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon-precomposed" sizes="114x114")
    %link(href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon-precomposed" sizes="72x72")
    %link(href="images/apple-touch-icon.png" rel="apple-touch-icon-precomposed")
    %link{ href: '/assets/favicon.png', rel: 'shortcut icon', type: 'image/png' }
    %link{ href: '/assets/favicon.png', rel: 'apple-touch-icon', type: 'image/png' }
    %link{ href: '/assets/favicon.png', rel: 'apple-touch-icon', type: 'image/png' }

  %body
    .header-bar
      .container
        .row
          .span3
            = image_tag "logo.png", :class => "logo"
    = yield
    .container.floating_on_map
      = yield :search
    = yield :map
    - if content_for?(:arguments)
      .arguments    
        .container
          .row
            = yield :arguments
                
    - if content_for?(:partners)
      .partners
        .container
          .row
            .span3
            .span6
              .social
                = yield :social
            .span3
          .row
            .span12
              = yield :partners

    - if content_for?(:seo)
      .seo
        .container
          .row
            .span12
              = yield :seo
    .footer
      .container
        .row
          .span12
            = image_tag "logo.png", :class => "logo"
      
    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
    = yield :scripts
